[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
boto3 = "==1.9"

[requires]
python_version = "3.6"
